<?xml version='1.0' encoding='utf-8'?>
<config><main_maze><height>30</height><width>50</width><seed>169296</seed></main_maze><solver_list><solver><name>Simple solver</name><command>python solvers/simple_solver.py</command><checked>False</checked></solver><solver><name>(C++)Tremaux</name><command>solvers/Tremaux.out</command><checked>False</checked></solver><solver><name>(C++)AStar</name><command>solvers/AStar.out</command><checked>False</checked></solver><solver><name>(C++)DFS</name><command>solvers/DFS.out</command><checked>False</checked></solver></solver_list><maze_list /></config>